{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css">
{% endblock %}

{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 header-wrap">
                    <div class="logo-wrap">
                        <img src="img/logo-light.png" alt="Munin for Android" /> <h1>Munin for Android</h1>
                    </div>
                    <div class="menu">
                        <a href="https://play.google.com/store/apps/details?id=com.chteuchteu.munin"><i class="mdi mdi-google-play"></i> Download</a>
                        <a href="https://github.com/chteuchteu/Munin-for-Android"><i class="mdi mdi-github-circle"></i> GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 content">
                <div class="row">
                    <div class="content-top">
                        <div class="row">
                            <div class="col-md-6 col-sm-7">
                                <div class="slogan">Keep an eye on your servers,<br />whenever, wherever!</div>
                                <div class="header-features">
                                    <ul>
                                        <li><i class="mdi mdi-check"></i> Multi-servers support</li>
                                        <li><i class="mdi mdi-check"></i> Labels</li>
                                        <li><i class="mdi mdi-check"></i> Grids</li>
                                        <li><i class="mdi mdi-check"></i> Alerts</li>
                                        <li><i class="mdi mdi-check"></i> Notifications*</li>
                                        <li><i class="mdi mdi-check"></i> Widgets*</li>
                                        <li><i class="mdi mdi-check"></i> Apache Basic & Digest* Auth support</li>
                                        <li><i class="mdi mdi-check"></i> SSL support</li>
                                    </ul>
                                    <div class="asterix">* available with the Features Pack</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-5">
                                <img src="img/screenshot.png" class="header-right" alt="Munin for Android" />
                            </div>
                        </div>
                    </div>

                    <div id="gplay_container" class="gplay_container">
                        <div id="gplay" class="gplay">
                            <a href="https://play.google.com/store/apps/details?id=com.chteuchteu.munin" class="gplay_link button button-elevated"
                               title="Download Munin for Android on Google Play">
                                <i class="mdi mdi-google-play"></i>
                                Munin for Android
                                <small>FREE</small>
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.chteuchteu.muninforandroidfeaturespack" class="gplay_link button button-elevated"
                               title="Download Munin for Android Features Pack on Google Play">
                                <i class="mdi mdi-google-play"></i>
                                + Features Pack
                                <small>$1.50 / 1,50 €</small>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="mainContent" class="mainContent">
                    <div class="share">
                        <div class="addthis_native_toolbox"></div>
                    </div>
                    <h2>What is Munin for Android?</h2>
                    <p>Munin for Android is an Android app allowing you to display Munin graphs of your server on your
                        Android-based device. It is very simple:</p>
                    <div class="row steps">
                        <div class="col-sm-4 step">
                            <div class="green round">1</div><h3>Install the app</h3>
                            <div class="stepText">Download the app from Google Play on your device(s). The oldest supported
                                Android version is Ice Cream Sandwich (4.0).</div>
                        </div>
                        <div class="col-sm-4 step">
                            <div class="green round">2</div><h3>Add your server(s)</h3>
                            <div class="stepText">Configure your servers into the app. The easy to use configuration wizard
                                does all the work for you! :)</div>
                        </div>
                        <div class="col-sm-4 step">
                            <div class="green round">3</div><h3>Enjoy!</h3>
                            <div class="stepText">Display Munin graphs, or setup labels and grids to unleash the power
                                of Munin for Android. Receive push notifications on your device when Munin alerts are triggered</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="gcm-stats">
                                <div class="hits">
                                    {% for digit in gcm_stats.hits %}
                                        <div class="hit-digit">{{ digit }}</div>
                                    {% endfor %}
                                </div>

                                <span># of sysadmins warned about a production environment on fire:</span>

                                <small>Last one was <strong>{{ gcm_stats.last_hit }} ago</strong>,
                                    that's one notification every {{ gcm_stats.frequency }}</small>
                            </div>
                            <small class="gcm-disclaimer"># of push notifications sent since August 2016</small>
                        </div>
                    </div>

                    <h3>Open source</h3>
                    <div class="gitHubButtons">
                        <iframe src="https://ghbtns.com/github-btn.html?user=chteuchteu&repo=Munin-for-Android&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                        <iframe src="https://ghbtns.com/github-btn.html?user=chteuchteu&repo=Munin-for-Android&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                    </div>
                    <p>Munin for Android is open-source! You can contribute on its <a href="https://github.com/chteuchteu/Munin-for-Android">public repository on GitHub</a>.
                        If the app isn't available in your native language, you can help translating it using
                        <a href="https://hosted.weblate.org/projects/munin-for-android/strings/">this easy to use online tool</a>!
                        Translation status: <a href="https://hosted.weblate.org/engage/munin-for-android/?utm_source=widget">
                            <img src="https://hosted.weblate.org/widgets/munin-for-android/-/svg-badge.svg" alt="Translation status" />
                        </a></p>
                    <p>Also, you can follow <a href="https://twitter.com/muninforandroid/">Munin for Android on Twitter</a> to be notified about new versions, known issues, and more!</p>


                    <div class="space"></div>

                    <h2>Features</h2>
                    <p>Munin for Android has a lot of great features! If you wish to add one, don't hesitate to <a href="mailto:support@munin-for-android.com">ask</a>!</p>

                    <table class="features elevation-low">
                        <thead>
                        <tr>
                            <td></td>
                            <td>Munin for Android</td>
                            <td>Features Pack</td>
                        </tr>
                        </thead>

                        <tbody>
                        {% for feature in features.free|merge(features.premium) %}
                            <tr>
                                <td>{{ feature|raw }}</td>
                                {% if feature in features.free %}
                                    <td colspan="2"><i class="mdi mdi-check"></i></td>
                                {% else %}
                                    <td><i class="mdi mdi-close"></i></td>
                                    <td><i class="mdi mdi-check"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>

                        <tfoot>
                        <tr>
                            <td>Price</td>
                            <td>FREE!</td>
                            <td>$1.49</td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="notice"><i>* the app is available in english, french, german, russian, spanish, italian,
                            ukrainian, hungarian, japanese, chinese and dutch</i></div>

                    <div class="space"></div>

                    <h2>Push notifications</h2>
                    <p>Munin for Android allows you to receive real-time notifications when something goes wrong on your server.
                        This feature requires you to configure your munin master installation to send notifications to our
                        push server: step-by-step instructions are available on the <a href="https://github.com/chteuchteu/Munin-for-Android-GCM-Trigger#installation">project's GitHub page</a>.</p>
                    <p>All the projects involved in this feature are open-source:</p>
                    <ul>
                        <li><a href="https://github.com/chteuchteu/Munin-for-Android-GCM-Trigger">Munin for Android GCM Trigger</a></li>
                        <li><a href="https://github.com/chteuchteu/Munin-for-Android-GCM-Proxy">Munin for Android GCM Proxy</a></li>
                    </ul>

                    <div class="row">
                        <div class="col-md-7">
                            <h2>Is my server supported?</h2>
                            <p>Yes it is! Munin for Android is compatible with almost every Munin version and server configuration,
                                even if you use <a href="https://github.com/jonnymccullagh/munstrap#munstrap">Munstrap</a>.
                                If you think that your server isn't supported, feel free to
                                <a href="mailto:support@munin-for-android.com">contact me</a> so we can discuss about it!</p>
                        </div>
                        <div class="col-md-5">
                            <h2>Changelog</h2>
                            <p>You can browse each version changelog on <a href="https://github.com/chteuchteu/Munin-for-Android/releases" target="_blank">GitHub</a>.</p>
                        </div>
                    </div>

                    <div class="space"></div>
                </div>
            </div>
            <div class="col-md-12 copyright">
                <p>
                    Munin for Android &copy; {{ 'now'|date('Y') }} <a href="https://www.quentin-stoeckel.com" target="_blank">Quentin Stoeckel</a>
                    &bullet;
                    <a href="https://www.quentin-stoeckel.com/privacy-policy/munin-for-android" target="_blank">Privacy policy</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55687235-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-543b9bcb351959fb" async></script>
{% endblock %}
